---
import { Image } from 'astro:assets'
import ifacImg from '../../images/ifac.webp'
import logoImg from '../../images/logo.webp'

const pageLinks = [
  {
    header: 'Services',
    links: [
      {
        name: 'For businesses',
        href: '/services/businesses',
        isExternal: false,
      },
      {
        name: 'For individuals',
        href: '/services/individuals',
        isExternal: false,
      },
    ],
  },
  {
    header: 'Company',
    links: [
      {
        name: 'About Us',
        href: '/about',
        isExternal: false,
      },
      {
        name: 'Contact',
        href: '/contact',
        isExternal: false,
      },
    ],
  },
]
---

<footer
  class='bg-primary-500/10 py-14 lg:py-20 border-t border-neutral-100'
  aria-labelledby='footer-heading'
>
  <h2 id='footer-heading' class='sr-only'>Footer</h2>
  <div class='mx-auto lg:max-w-7xl px-6 sm:px-8 lg:px-12'>
    <div class='flex items-start justify-around gap-12 sm:gap-16'>
      <!-- locations -->
      <div class='flex flex-col gap-4'>
        <p class='text-base font-semibold'>Locations</p>
        <ul role='list' class='flex flex-col gap-3'>
          <li class='flex flex-col gap-2'>
            <p class='text-sm font-medium'>London</p>
            <div class='text-primary-950/70 text-sm flex flex-col'>
              <p>20 Wenlock Road</p>
              <p>London</p>
              <p>N1 7GU</p>
            </div>
          </li>
        </ul>
      </div>

      <!-- links -->
      {
        pageLinks.map(group => (
          <div class='flex flex-col gap-4'>
            <p class='text-base font-semibold'>{group.header}</p>
            <ul role='list' class='flex flex-col gap-3'>
              {group.links.map(link => (
                <li>
                  <a
                    href={link.href}
                    class='focus-visible:outline-primary-950 inline-flex items-center gap-1 rounded-md text-sm hover:underline focus-visible:outline focus-visible:outline-2'
                    target={link.isExternal ? '_blank' : undefined}
                    rel={link.isExternal ? 'noopener' : undefined}
                  >
                    {link.name}
                    {link.isExternal && (
                      <svg
                        class='h-4 w-4'
                        xmlns='http://www.w3.org/2000/svg'
                        viewBox='0 0 24 24'
                        fill='currentColor'
                        aria-hidden='true'
                      >
                        <path d='M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z' />
                      </svg>
                    )}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
    <hr class='my-12 lg:my-16' />
    <div class='flex items-center justify-between'>
      <!-- images -->
      <div class='flex gap-12'>
        <a
          href='/'
          class='focus-visible:outline-primary-950 rounded-md focus-visible:outline focus-visible:outline-2'
        >
          <span class='sr-only'>mgaccountant</span>
          <Image src={logoImg} alt='mgaccountant logo' class='h-14 w-auto' />
        </a>
        <a
          href='https://www.ifac.org/'
          target='_blank'
          rel='noopener'
          class='focus-visible:outline-primary-950 rounded-md focus-visible:outline focus-visible:outline-2'
        >
          <span class='sr-only'>IFAC</span>
          <Image
            src={ifacImg}
            alt='IFAC (Internation Federation of Accountants) logo'
            class='h-12 w-auto rounded-3xl'
          />
        </a>
      </div>

      <!-- contact details -->
      <div class='flex items-center gap-6 text-sm'>
        <a
          href='mailto:manesha@mgaccountant.com'
          class='focus-visible:outline-primary-950 inline-flex items-center gap-1 rounded-md hover:underline focus-visible:outline focus-visible:outline-2'
          >Email</a
        >
        <a
          href='tel:07886625609'
          class='focus-visible:outline-primary-950 inline-flex items-center gap-1 rounded-md hover:underline focus-visible:outline focus-visible:outline-2'
          >Mobile</a
        >
      </div>
    </div>
  </div>
</footer>
